<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Signaux Potentiels à remonter à l’Europe{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    	{% include "_partials/_nav.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
